<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horta Sustentável</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="shortcut icon" href="../images/flower.ico" type="image/x-icon">
</head>
<body>
    <header>
        <div class="topHeader">
            <div class="divLogo">
                <a href="/">
                    <img src="../images/Plantar.svg" alt="logo" class="logo">
                </a>
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/about">Sobre</a>
                <a href="#contato">Contato</a>
            </nav>
        </div>
        <div class="contentHeader">
            <div class="divLogoMain">
                <a href="/">
                    <img src="../images/Plantar.svg" alt="logo" class="logo">
                </a>
            </div>
        </div>
    </header>
    <main>
        <h1>Quem somos nós?</h1>
        <section class="sobreNos">
            <div class="textoSection">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aperiam veniam itaque non, magnam asperiores delectus enim expedita ea, cumque hic quae illo facilis voluptatum blanditiis vitae minima dolor. Maxime.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati quo, dolorem sed accusantium nobis illum hic consectetur necessitatibus architecto laborum aperiam neque molestiae eligendi inventore soluta ipsa, animi blanditiis repellendus!</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis asperiores et perferendis delectus ex, adipisci deleniti esse tempora ipsam natus corrupti commodi rerum quia iusto, reiciendis blanditiis at? Totam, deserunt.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aperiam veniam itaque non, magnam asperiores delectus enim expedita ea, cumque hic quae illo facilis voluptatum blanditiis vitae minima dolor. Maxime.</p>
            </div>
        </section>
        <hr color="#312a26">
        <h1>O que fazemos?</h1>
        <section class="sobreNos">
            <div class="textoSection">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aperiam veniam itaque non, magnam asperiores delectus enim expedita ea, cumque hic quae illo facilis voluptatum blanditiis vitae minima dolor. Maxime.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati quo, dolorem sed accusantium nobis illum hic consectetur necessitatibus architecto laborum aperiam neque molestiae eligendi inventore soluta ipsa, animi blanditiis repellendus!</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis asperiores et perferendis delectus ex, adipisci deleniti esse tempora ipsam natus corrupti commodi rerum quia iusto, reiciendis blanditiis at? Totam, deserunt.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aperiam veniam itaque non, magnam asperiores delectus enim expedita ea, cumque hic quae illo facilis voluptatum blanditiis vitae minima dolor. Maxime.</p>
            </div>
        </section>
    </main>
    <footer id="contato">
        <div class="divLogo">
            <a href="/">
                <img src="../images/Plantar.svg" alt="logo" class="logo">
            </a>
        </div>
        <div class="follow">
            <h2>Vem seguir a gente!</h2>
            <p class="pFollow">
                <img src="../images/instagram.svg" alt="Logo Instagram" class="imgFollow">
                @Instagram
            </p>
            <p class="pFollow">
                <img src="../images/facebook.svg" alt="Logo Facebook" class="imgFollow">
                @Facebook
            </p>
            <p class="pFollow">
                <img src="../images/phone.svg" alt="Telefone" class="imgFollow">
                (99) 99999-9999
            </p>
        </div>
    </footer>
</body>
</html>