<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horta Sustentável</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/alimento.css">
    <link rel="shortcut icon" href="../images/flower.ico" type="image/x-icon">
</head>
<body>
    <header>
        <div class="topHeader">
            <div class="divLogo">
                <a href="/">
                    <img src="../images/Plantar.svg" alt="logo" class="logo">
                </a>
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/about">Sobre</a>
                <a href="#contato">Contato</a>
            </nav>
        </div>
        <div class="contentHeader">
            <div class="mainContentHeader">
            </div>
        </div>
    </header>
    <main>
        <h2>Quais são os benefícios de se plantar?</h2>
        <div class="textoMain">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error voluptas, magni id natus autem assumenda sequi vel, amet voluptates aperiam magnam, deleniti a tenetur sint quaerat laboriosam architecto aliquid expedita?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae amet earum numquam ratione eaque ipsum nam aperiam, quos, ut nemo odio qui dolores alias ad ducimus placeat perferendis iure consequuntur.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut facilis dolor a explicabo. Molestiae exercitationem placeat fugiat quasi fugit! Maiores temporibus maxime expedita fugiat accusamus quibusdam repudiandae eum iure quas!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error voluptas, magni id natus autem assumenda sequi vel, amet voluptates aperiam magnam, deleniti a tenetur sint quaerat laboriosam architecto aliquid expedita?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae amet earum numquam ratione eaque ipsum nam aperiam, quos, ut nemo odio qui dolores alias ad ducimus placeat perferendis iure consequuntur.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut facilis dolor a explicabo. Molestiae exercitationem placeat fugiat quasi fugit! Maiores temporibus maxime expedita fugiat accusamus quibusdam repudiandae eum iure quas!</p>
        </div>
    </main>
    <footer id="contato">
        <div class="divLogo">
            <a href="/">
                <img src="../images/Plantar.svg" alt="logo" class="logo">
            </a>
        </div>
        <div class="follow">
            <h2>Vem seguir a gente!</h2>
            <p class="pFollow">
                <img src="../images/instagram.svg" alt="Logo Instagram" class="imgFollow">
                @Instagram
            </p>
            <p class="pFollow">
                <img src="../images/facebook.svg" alt="Logo Facebook" class="imgFollow">
                @Facebook
            </p>
            <p class="pFollow">
                <img src="../images/phone.svg" alt="Telefone" class="imgFollow">
                (99) 99999-9999
            </p>
        </div>
    </footer>
    <script src="../js/script.js"></script>
</body>
</html>